[Unit]
Description=Run graccsumperiodic every day and on boot

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target