[Unit]
Description=GRACC Summary Agent
Documentation=https://opensciencegrid.github.io/gracc
Wants=network-online.target
After=network-online.target

[Service]
User=gracc
Group=gracc
Type=simple
Restart=on-failure
ExecStart=/usr/bin/graccsum -c /etc/graccsum/config.d/gracc-summary.toml
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
